


body{

  background-color:aqua

}


.loan-calc{
   
  width:400px;
  height:450px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10rem;

}

/* button{
  height:auto;
  width:5rem;
 
} */


.inputes{

    margin: 0 40px;

}

p{

  color:rgb(17,103,170);
  font-size:18px;

}

h1{
  text-align:center;
  color:rgb(9,95,170);
  font-size :18px;
  padding:10px;
}

input{

  width:100%;
  height:35px;
  font-size:20px;

}

.output{


  margin-top:20px;
  color:royalblue;
  font-size:20px;

}
